<!DOCTYPE html>
<html>
<head>
    <title>Hive list</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <%- include('partial/header')%>

    <div class="container-fluid text-center">
        <form>
            <div class="input-group mb-4">
                <select class="form-select border-secondary" name="filter">
                    <%if(flt){%>
                    <option value="<%=flt%>" selected hidden>By <%=flt%></option>
                    <%}%>
                    <option value="id">By id</option>
                    <option value="type">By type</option>
                    <option value="queen">By queen</option>
                    <option value="date">By date</option>
                </select>
                <button class="btn btn-secondary" type="submit" formmethod="get" formaction="/">Filter</button>
                <button class="btn btn-success" type="submit" formmethod="post" formaction="/new">Add</button>
            </div>
        </form>

        <div class="m-1 row row-cols-6 border border-warning border-3">
            <% hives.forEach(function(hive){ %>
                <%- include('partial/hive', {hive: hive}); %>
            <% }); %>
        </div>
    </div>

</body>
</html>