<div class="col">
    <a href="/edit?id=<%=hive.id%>">
        <div class="btn btn-outline-dark m-1 w-100">
            <img class="m-3" src="images/hive.png"/>
            <p>Type: <%= hive.type%></p>
            <p>Queen: <%= hive.queen%></p>
            <p><%= hive.date%></p>
        </div>
    </a>


</div>